/* CSS declarations go here */
body {
	margin: 0;
	background: #fff;
}

label {
	font-size: .85rem;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	margin-right: 5px;
}

form.add-gather {
	padding-left: 20px;
	padding-right: 20px;
}

.tabs {
	padding-top: 64px;
	z-index: 2;
}

.container {
	/*padding-top: px;*/
	margin: 0 auto;
	max-width: 1280px;
	/*width: 90%;*/
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.gathers-list {
	/*background: white;*/
	/*margin-top: 15px;*/
	/*padding-left: 8px;*/
	/*padding-right: 8px;*/
}

div.picker div {
	/*width: 100%;*/
}

.place-picker {
	margin-top: 20px;
}

input {
	/*padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	font-size: 1rem;
	display: block;
	width: 100%; 
	margin-bottom: 10px;*/

	padding: 0px; 
	position: relative; 
	width: 100%; 
	border: solid rgba(0, 0, 0, 0.120588); 
	border-bottom-width: 1px;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	outline: none; 
	background-color: rgba(0, 0, 0, 0); 
	color: rgba(0, 0, 0, 0.660588); 
	cursor: initial; 
	font-size: 16px; 
	line-height: 24px;  
	min-height: 48px; 
	display: inline-block; 
	font-family: Roboto, sans-serif; 
	transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

	font-style: inherit; 
	font-variant: inherit; 
	font-weight: 300;
	letter-spacing: .025em; 
	font-stretch: inherit; 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
	height: 100%; 
	-webkit-appearance: textfield;

}

.place-picker div, #PlacesAutocomplete__autocomplete-container {
	font-family: 'Roboto', sans-serif;
	z-index: 16;
}

form.add-gather label {
	display: none;
}

#PlacesAutocomplete__autocomplete-container i.fa {

	 margin-right: 5px;
}

form.add-gather div.type-select {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	margin-top: 5px;
}