/* CSS declarations go here */
body {
	margin: 0;
}

label {
	font-size: .85rem;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	margin-right: 5px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.nav-bar {

}

.picker  {
	width: 50%;
}

.place-picker {
	margin-top: 20px;
}

input {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	font-size: 1rem;
	display: block;
	width: 100%; 
	margin-bottom: 10px;

}

.place-picker div, #PlacesAutocomplete__autocomplete-container {
	font-family: 'Roboto', sans-serif;
}

#PlacesAutocomplete__autocomplete-container i.fa, div {

	margin-right: 5px;
}